<h2>All Campaigns</h2>
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Title</th>
      <th>Scheduled Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each campaigns}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.scheduledTime}}</td>
      <td>{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/" class="btn btn-secondary">Create New</a>
